#board {
	width: 700px;
	height: 700px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 80px;
}

#board > div { }

#board .black { background-color: #000; }

#board .white { background-color: #FFF; }

#board .piece { width: 100%; height: 100%; border-radius: 50%; }

#board .piece-white { background-color: #CCC; }

#board .piece-black { background-color: #F00; }

#board .selected { background-color: #58afe0; }




